<section>
  <h2>
    Planets: {{ paginatedPlanets.total }}
  </h2>

  <form [formGroup]="form" (ngSubmit)="onSearchChange()">
    <fieldset>
      <label for="search">Search: </label>
      <input id="search" formControlName="search" type="text">
    </fieldset>

    <button type="submit" [disabled]="form.invalid">
       <img src="assets/icons/search.svg" alt="Search" title="Search" />
    </button>
  </form>

  @if (paginatedPlanets) {
    <app-planet-table [planets]="paginatedPlanets.results" [page]="paginatedPlanets.page" [totalPages]="totalPages" (sortChange)="onSortChange($event)" (pageChange)="onPageChange($event)"></app-planet-table>
  }
</section>